$color-1-claro: #3570b4;
$color-2-claro: #76c3e2;
$color-3-claro: #42aa8b;
$color-4-claro: #c9916c;
$color-5-claro: #0c2a38;

$colores-oscuros : (
  #2a445c,
  #155594,
  #026e6e,
  #806602,
  #d4cfcf
);



$tamanios-iconos-horizontal : (
 'pequenio':5%, 
 'medio':15%,
 'grande':100px
);

$tamanios-iconos-contenido : (
 'pequenio':8%, 
 'medio':35%,
 'grande':100px
);


:root {
  .tema-claro{
  --color-1:  #{$color-1-claro};
  --color-2:  #{$color-2-claro};
  --color-3:  #{$color-3-claro};
  --color-4:  #{$color-4-claro};
  --color-5:  #{$color-5-claro};
  }
  .tema-oscuro{
    --color-1:  #{nth($colores-oscuros,1)};
    --color-2:  #{nth($colores-oscuros,2)};
    --color-3:  #{nth($colores-oscuros,3)};
    --color-4:  #{nth($colores-oscuros,4)};
    --color-5:  #{nth($colores-oscuros,5)};
  }  
} 





//map-get(%tamanios-horizontal-fijo,"grande")

/* MODO DEBUG*/
// Ver IF, en el partial principal.....
$debug:true;


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@import "./partial_principal/_boton_principal.scss";
@import "./partial_principal/_menu_principal.scss";
@import "./partial_principal/_footer_principal.scss";
@import "./partial_principal/_contenido_principal.scss";

//@import "./partial_principal/_footer_principal.scss";


body {
    margin: 0px;
}

