#idSeccion3 {
  float: left;
  width: 80%;
  height: 300px;
  background-color: var(--color-3);
  color: var(--color-5);

  div {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 25px;
  }

  h3{
    @include estilo-h4;
  }
}
