#idSeccion1 {
  float: right;
  width: 80%;
  height: 225px;
  background-color: var(--color-3);
  color: var(--color-5);

  .container {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  h4{
    @include estilo-h4;
    margin-bottom: 5px;
    
  }
  p{
    margin-bottom: 55px;
    font-size: 25px;
  }
}
