/* ----------Poner siempre------------ */
html {                                  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* ----------Poner siempre------------ */

.foto{
    float: left;
    height: 250px;
    border-radius: 50%;
}

body{
    background-color: #64CCC5;
}
.header{
    height: 250px;
    background-color: #176B87;
}

.nombre{
    width: 84.66%;
    float: left;
    text-align: center;
    font-size: 80px;
    color: white;
}
.menu{
position: sticky;
display: inline-block;
top: 250px;
width: 84.66%;
text-align: center;

}

.inicio{
    font-size: 45px;
    float: left;
    margin-left: 25%;
    color: white;

}

.sobremi{
    font-size: 45px;
    float: right;
    margin-right: 25%;
    color: white;

}

.formacion {
    background-color: #DAFFFB;
    float: left;
    left: 5%;
    width: 44%;
    margin: 3%;
    margin-bottom: 0;
}
.h2formacion{
    text-align: center;
    text-decoration-line: underline;
}

.datos-personales {
    background-color: #DAFFFB;
    width: 44%;
    float: left;
    margin: 3%;
    margin-bottom: 0;
}
.h2datospersonales{
    text-align: center;
    text-decoration-line: underline;
}

.mis-aficiones{
    width: 94%;
    background-color: #DAFFFB;
    float: left;
    margin: 3%;
}

.imgaficiones{
    margin-left: 14%;
}


.h2misaficiones{
    text-align: center;
    text-decoration-line: underline;
}

.footer {
    background-color: #176B87;
    width: 99.15%;
    position: fixed;
    bottom: 0%;
    margin-right: 0%;
    margin-top: 5%;
    height: 150px;
}

.misredessociales{
    text-align: center;
    color: white;
}

a {
margin-left: 12%;
color: white;
}

section {
    margin: auto;
}
