/*////////////////////////////////////////////////////*/
.slider-container {
    overflow: hidden;
    width: 80%;
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.nav-buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

#id_btn{
    text-align: center;
}

.prev,
.next {
    margin: 10px;
    z-index: 1;
}

/*////////////////////////////////////////////////////*/

.c_desplegable {
    width: 80%;
    margin: 0 auto;
}

.tarjeta {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.cabecera {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.contenido {
    display: none;
    padding: 10px;
}



/*////////////////////////////////////////////////////*/

body{
    background-image: url(Windows_10_Cloud_Hero.jpg);
}

// .menu{
//     display: inline-block;
//     width: 33%;
// }
// header{
//     width: 100%;
//     height: auto;
//     top: 0px;
//     position: sticky;
//     z-index: 10;
//     display: inline-block;

// }

// h1{
//     background-color: green;
//     border-radius: 100px;
//     /* top: 5%; */
//     width: 30%;
//     height: auto;
//     text-align: center;
//     position: relative;
// }


main{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    height: auto;
    
}

section{
    margin-left: 10%;
    width: 80%;
}

article{
    background-color: var(--color-2);
    text-align: center;
    height: auto;
    border: 3px solid #000;
}


.c_desplegable{
    margin-top: 3%; 
    background-color: var(--color-4);
}


