.navbar {

  display: flex;
  flex-wrap: nowrap;
  align-items: center;


  p {
    font-size: 1.5rem;
    color: var(--color-3);
    font-weight: bold;
    width: 50%;
    margin: 0;
  }

  ul {
    width: 50%;
    margin: 0;
    text-align: right;

    li {
      display: inline-block;
    }

    li a {
      padding: 1rem;
      color: var(--color-3);
      text-decoration: none;
    }

    li a:hover {
      color: var(--color-4);
    }
  }


}