.padre {
    background-color: lightblue;
    position: relative;
    width: 60%;
    left: 20%;
    height: 300px;
}

.padre div.hijo1 {
    background-color: red;
    left: 130px;
    top: 50px;
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
}

.padre div.hijo2 {
    background-color: chartreuse;
    left: 150px;
    top: 30px;
    position: absolute;
}

/* Elemento large  para forzar scroll */
.large {
    background-color: burlywood;
    height: 1000px;

    width: 60%;

    position: relative;
    left: 20%;
}



.padre div {
    height: 50px;

    width: 50px;
}

