/* ***** FOOTER ***** */

footer{  
    position: fixed;
    bottom: 5px;
    
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--color-3);
    border: 3px solid var(--color-2);
    padding: 5px;
    img {
        display: inline-block;
        padding:  0px 5%;
        height: map-get($tam-icons-height, 'pequenio' );

}
    
}