* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}

h1 {
  left: 50px;
position: relative;
  top: 10px;
  width: 80%;
}


.padre {
  background-color: lightblue;
  position: relative;
  
  left: 20%;
  height: 500px;
  width: 60%;
}

.padre div {
  height: 50px;



  width: 50px;
}

.padre div.hijo1 {
  background-color: red;
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 2;
}

.padre div.hijo2 {
  background-color: chartreuse;
  position: absolute;
  left: 120px;
  top: 30px;
}

/** Elemento fixed **/
.footer {
  text-align: center;
  background-color: lightgrey;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.footer div,
.sticky-menu div {

display:inline-block;
width: 20%;

  padding: 20px;


}

/* Sticky Menu */
.sticky-menu {
  display: block;
  text-align: center;
  background-color: lightgrey;
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* Elemento large  para forzar scroll */
.large {
  background-color: burlywood;
  position: relative;
  height: 1000px;
  margin: 0px auto;

  width: 60%;
}

