body{
    margin: 0px;
}

header{
    position: sticky;
    top: 0px;
    z-index: 3;
}

.cabecera {
    height: 150px;
    border-bottom:4px dashed white;
    height: 150px;
    background-color:#3FAABC;
    position: relative;
    top: 0%;
    margin: 0px auto;
}

.cabecera div {
    top: 38px;
    position: absolute;
  background-color: #F3E99F;
  height: 65px;
  width: 20%;
  border-radius: 32px;
}

.cabecera div.m2{
    background-color: #EF6262;
    width: 22%;
    height: 79px;
}

  .cabecera div.m1 {
left: 12%;
  top: 31px;
}

.cabecera div.m2 {
top: 31px;
  left: 66%;
}

.cabecera div.m3 {
    left: 43%;
    border-radius: 91px;
    width: 15%;
    height: 89%;
    top: 10px;
}

.cabecera div.g2{
    left: 44%;
  border-radius: 90%;
  width: 13%;
  height: 81%;
  top: 16px;
  z-index: 1;
}

.cabecera div.g3 {
     left: 67%;
z-index: 1;
}

.cabecera div.g1{ 
    left: 13%;
    z-index: 1;
}

.cuerpo{
    background-color: #EF6262;
    position: relative;
    width: 100%;
    height: 1500px;
}

.cuerpo div.c{
    background-color: #22A699;
    display: inline-block;
    width: 240px;
    height: 320px;
    border-radius: 20%;
    box-shadow: 2px 5px 10px black;
    transition: transform 0.2s;
    z-index: 1;

    
}.cuerpo div.c1{
    position: absolute;
    top: 800px;
    left: 10%;
    
}
.c:active{
    transform: scale(0.95);
}
.cuerpo div.c2{
    position: absolute;
    top: 400px;
    left: 10%;
}
.cuerpo div.c3{
    position: absolute;
    top: 400px;
    left: 78%;
}
.cuerpo div.c4{
    position: absolute;
    top: 800px;
    left: 78%;
}
.cuerpo div.respuesta{
    position: absolute;
    top: 750px;
    left: 38%;
    width: 443px;
    height: 478px;
    background-color: #22A699;
    z-index: 2;
    border-radius: 20%;
  

}
.cuerpo div.foto{
    position: absolute;
    background-color: white;
    top: 96px;
    left: 37%;
    right: 50%;
    width: 464px;
    height: 570px;
    box-shadow: 10px 10px 15px rgb(109, 109, 109);
}
.cuerpo div.m{
    background-color: #F3AA60;
    display: inline-block;
    width: 302px;
  height: 377px;
    border-radius: 20%;
    border: 1px solid black;

   
}
.cuerpo div.m1{
    position: absolute;
    top: 775px;
  left: 8%;

}
.cuerpo div.m2{
    position: absolute;
    top: 376px;
    left: 8%;
}
.cuerpo div.m3{
    position: absolute;
    top: 377px;
    left: 76%;
}
.cuerpo div.m4{
    position: absolute;
    top: 777px;
    left: 76%;
}
.cuerpo div.mrespuesta{
    position: absolute;
  top: 720px;
  left: 35%;
  width: 524px;
  height: 530px;
  background-color: #F6D779;
  border-radius: 20%;

}
.foto div.retrato{
    position: absolute;
    background-color: #F3AA60;
    border-radius: 10%;
    width: 424px;
    height: 424px;
    top: 20px;
    left: 20px;
  }*/

  .pies {
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;

  }

  main{
    background-color: #EF6262;
    position: relative;
    width: 100%;
    height: 1500px;
  }

  