@import "partials/menu";
@import "partials/footer";
@import "partials/contenido";
@import "partials/boton";

$color-1-claro: #F8E8EE;
$color-2-claro: #F2BED1;


$colores-oscuros : (
    rgb(142, 174, 255),
    rgb(47, 93, 212),
  
);

:root {
  .tema-claro{
  --color-1:  #{$color-1-claro};
  --color-2:  #{$color-2-claro};
 
  }
  .tema-oscuro{
    --color-1:  #{nth($colores-oscuros,1)};
    --color-2:  #{nth($colores-oscuros,2)};
  }
} 




/* Poner siempre */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* Poner siempre */


body{
  background-color: var(--color-1);
  padding: 3%;
}














