@function textAlign($donde) {
    @return $donde;
}

@mixin estilosFooter {
  width: 100%;
  height: auto;
  background-color: var(--color-5);
  color: var(--color-2);
  z-index: 2;
  position: sticky;
  top: 0%;
  text-align: textAlign(center);
  padding: 3%;
}



.footer {
  @include estilosFooter;
}

@mixin estilosImagenesLogo {
  text-align: textAlign(center);
}

.imagenesLogo {
  @include estilosImagenesLogo;

  img {
    text-align: textAlign(center);
    height: 100px;
    padding: 1% 3%;
  }
}
