.formacion {
    width: 100%;
    height: auto;
    background-color: var(--color-1);
    color: var(--color-2);
    z-index: 2;
    position: sticky;
    top: 0%;
    text-align: center;
    padding: 3%;
    
    
    }