/* ╔════════════════•°♥ Fondos ♥°•═══════════════╗ */
main{
    background-color: var(--color-1);
    // width: 80%;    
    position: relative;
    // left: 10%;
}
.fondo{
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
body{
    margin: 0px;
}
/* ═══════════════•°♥ Fondos palos ♥°•══════════════ */

.grande{
    position: relative;
} 
.pequeño{
    z-index: 2;
    height: 20px;
}
/* ╚═══════════════•°♥ Fin Fondos ♥°•═══════════════╝ */

/* ╔══════════════════════•°♥ Elementos ♥°•══════════════════════╗ */

/* ══════════════════════•°♥ Circulo Foto ♥°•═════════════════════ */
@mixin circulo($w,$h){
    width: $w;
    height: $h;
    position: relative;
    background-color: #b87f59;
    border-radius: 100%;
    margin-top: 30px;
    border: 10px solid var(--color-3);
    display: flex;
    align-items: center;
    flex-direction: column;
}  
#idcirculogran{
    bottom: -11px;
    @include circulo(200px,200px);
}
#idfoto{
    background-size: cover;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-top: 10px;
    border: 10px solid var(--color-3);
    z-index: 2;

    @if $debug==false{
        background-image: url(../imagenes/foto.jpg);
    }@else{
        background-image: url(../imagenes/modoDebug.png);
    }
}
/* ══════════════════════════•°♥ Palos ♥°•══════════════════════════ */
.palocen{
    position: relative;
    background-color: #b87f59;
    width: map-get($palos-tamanios,"ancho");
    height: map-get($palos-tamanios,"vertical_long");
    border-left:10px solid var(--color-3);
    border-right:10px solid var(--color-3);
}
.paloder{
    width: map-get($palos-tamanios,"horizontal_long");
    background-color: #b87f59;
    height: map-get($palos-tamanios,"ancho");
    border-right: 10px solid var(--color-3);
    z-index: 2;
}
.paloizq{
    width: map-get($palos-tamanios,"horizontal_long");
    background-color: #b87f59;
    height: map-get($palos-tamanios,"ancho");
    border-left: 10px solid var(--color-3);
    z-index: 2;
}
.nudoder{
    background-color: #b87f59;
    width: map-get($palos-tamanios,"nudo_long");
    height: map-get($palos-tamanios,"ancho");
    border-left:10px solid var(--color-3);
}
.nudoizq{
    background-color: #b87f59;
    width: map-get($palos-tamanios,"nudo_long");
    height: map-get($palos-tamanios,"ancho");
    border-right:10px solid var(--color-3);
}

/* ════════════════•°♥ Huecos y bordes para palos ♥°•═══════════════ */
.vacio{
    width: 500px;
    height: 20px;
}
.border{
    width: 500px;
    height: 10px;
    background-color: var(--color-3);
    z-index: 2;
}
.upr{
    border-bottom-right-radius: 20px;
}
.upl{
    border-bottom-left-radius: 20px;
}
.downr{
    position: relative;
    top: 240px;
    border-top-right-radius: 20px;
}
.downl{
    position: relative;
    top: 240px;
    border-top-left-radius: 20px;
}
/* ══════════════════════════•°♥ Circulo final ♥°•══════════════════════════ */
#idcirculopeq{
    top: -41px;    
    @include circulo(50px,50px);
}
/* ╚══════════════════════════•°♥ Fin Elementos ♥°•══════════════════════════╝ */

/* ╔══════════════════════•°♥ Carteles ♥°•══════════════════════╗ */
.contCartel{
    position: absolute;
    top: -220px;
    width: 2400%;
    height: 230px;
}
.cartel{
    width: 98%;
    height: 90%;
    position: absolute;
    top: 10%;
    background-color: var(--color-2);
    border-radius:25px;
    text-align: center;    
    font-size: 20px;
    color: var(--color-3);
    display: flex;
    align-items: center;
    flex-direction: column;

    span{
        position: relative;
        top: 10px;
        text-decoration: underline;
    }

    b{
        font-size: 25px;
    }
}
.datos{
    position: relative;
    top: 15px;
    width: 85%;
    height: 80%;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
}
.columnas{
    column-count: 2;
    line-height: 30px;

    div{
        width: 100%;
        height: 100%;
    }

    span{
        top: 0;
    }
}
.contCajitas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

$cajas:juegos escalada leer cocinar;

@each $caja in $cajas{
    .cajita{
        width: 50px;
        height: 50px;
        border: 3px solid var(--color-3);
        border-radius: 10px;
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        
        &:hover{
            animation: encimaBoton 0.1s linear 0s forwards;
        }
        &:not(:hover){
            animation: noEncimaBoton 0.1s linear 0s forwards;
        }
    }
    #id#{$caja}{
        background-image: url("../imagenes/#{$caja}.png");
    }
}
.afic{
    background-color: var(--color-4);
}
.carder{
    left: 2%;
}
.carizq{
    right: 2%;
}
.cuerda{
    position: absolute;
    width: 5px;
    height: 45px;
    background-color: var(--color-3);
    z-index: 1;
}
.cizq{
    left: 20%;
}
.cder{
    left: 80%;
}
.clavo{
    width: 11px;
    height: 11px;
    background-color: var(--color-3);
    position: absolute;
    top: 38px;
    left: -3px;
    border-radius: 100%;
}
/* ══════════════════════════•°♥ Contenido ♥°•══════════════════════════ */

/* ══════════════════════════•°♥ Tapadores ♥°•══════════════════════════ */
.tapador{
    position: absolute;
    top: 10px;
    background-color: var(--color-1);
    width: 2400%;
    height: 230px;
    z-index: 2;
}
.der{
    left: 30px;
}
.izq{
    right:30px;
}
/* ╚══════════════════════════•°♥ Fin carteles ♥°•══════════════════════════╝ */