
/* ╔════════════════•°♥ Pies ♥°•═══════════════╗ */
#idredes{
    width: 100%;
    height: 150px;
    background-color: var(--color-5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#idpie{
    width: 100%;
    height: 100px;
    background-color: var(--color-3);
    text-align: center;
}
#idcontLogo{
    display: inline-block;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
#idlogo{
    display: inline-block;
    background-size: cover;
    background-image: url(../imagenes/logo.png);
    width: 60px;
    height: 60px;
}
#idnombreLogo{
    position: relative;
    bottom: 15px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: var(--color-2);
}

$redes: instagram gmail;
@each $red in $redes{
    #id#{$red} {
      margin: 10px;
      background-color: var(--color-2);
      background-image: url("../imagenes/#{$red}.png");
    }
  }
  
/* ╚═══════════•°♥ Fin pies ♥°•═══════════╝ */
