header{
    background-color: var(--color-5);
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 10;
    text-align: center;
}
.menu-element{
    text-align: left;
    font-size: 20px;
    display: inline-block;
    width: 25%;
    background-color: var(--color-2);
    color: var(--color-3);
    padding: 20px;
    margin: 0.5%;
    margin-top: 15px;
    border-radius: 80px 10px;
    border: 3px solid var(--color-3);

    &:hover{
        background-color: var(--color-4);
        color: #FFEBC9;
        box-shadow: 5px solid black;
    }
}