.cajafooter{
    background-color: $color-oscuro;
    height: 80px;
    margin-top: $margin-topforms;
    text-align: center;
    display: flex;
    justify-content: center;

    .foot1{
    width: map-get($tamanios-iconos-horizontal , 'pequenio');
    height: map-get($tamanios-iconos-vertical , 'pequenio' );
    background-size: cover;
    background-image:url('../imagenes/twitter.png');
    margin: auto;
}

.foot2{
    width: map-get($tamanios-iconos-horizontal , 'pequenio');
    height: map-get($tamanios-iconos-vertical , 'pequenio' );
    background-size: cover;
    background-image: url('../imagenes/facee.png');
    margin: auto;

}
.foot3{
    width: map-get($tamanios-iconos-horizontal , 'pequenio');
    height: map-get($tamanios-iconos-vertical , 'pequenio' );
    background-size: cover;
    background-image: url('../imagenes/ins.png');
    margin: auto;

}

}
