
div {
    width: 33.33%;
    float: left;
    padding-top: 200px;
    height: 700px;
    text-align: center;


}

.iconomedio {

    width: map-get($tamanios-iconos-contenido  , "medio");
    position: relative;
    padding-top: -30%;

}

.img{
    width: 50%;
    @if $debug == false
    {
        display :none;
    }@else
    {
        display: inline;
    }
}

.iconoside {
   // width: 8%;

    width: map-get($tamanios-iconos-contenido  , "pequenio");
    position: relative;
    left: 10%;


}


article {

    padding-top: 5%;
    display: inline-block;

}

main {
    clear: left;
}

.central {

    padding-top: 50px;
}

.nombre {
    font-size: 500%;
    font-family: 'Tangerine', cursive;
}

.apellido {
    font: caption;
    font-size: 250%;
}

section {
    display: block;

}


.titulo {
    font-family: cursive;

}