footer {
    position: fixed;
    width: 100%;
    bottom: 30px;
    background-color: var(--color-1);
    filter: drop-shadow(5px 10px 4px var(--color-2));

    ul {
        display: block;


        li {
            list-style: none;
            /*display: inline-block;  no funciona*/
            width: 24.5%;
            text-align: center;
            float: left;


            .iconofooter {

                width: map-get($tamanios-iconos-horizontal , "medio");

                /*no usar margin para centrar*/
            }
        }
    }
}