//footer parte de abajo
footer{
    background-color: var(--color-2);
    text-align: center;
    display: block;
    clear: left;
}
.tituloredes{
    display: inline-block;
    font-size: 225%;
}
.redes{
    display: inline-block;
    font-size: 225%;
    width:14%;
}
.imagenes{
    padding-left: 1%;
    padding-top: 25%; 
    width:75%;
    height:14%;
    display: inline-block;
}