article{
    font-size: 20px;
    width: 13%;
   padding: 2%;
    height: 40%;
    color: var(--color-3);
    background-color:var(--color-2);
    border-radius: 30px;
    float: left;
    margin-left: 12%;
    margin-top: 5%;
}

h1{
    width: 100%;
    position: relative;
    color: var(--color-2);
    float: right;
    text-align: center;
    top: 5%;
    font-size: 70px;
    
}

img{
    width: 15%;
    height: 25%;
    color: aliceblue;
    background-color: darkgrey;
    border-radius: 30px;
    float: left;
    margin-left: 13.5%;
    margin-top: 2%;
    
}