.footer {
    background-color: var(--color-4);
    width: 99.15%;
    position: fixed;
    bottom: 0%;
    margin-right: 0%;
    margin-top: 5%;
    height: 150px;
}

.misredessociales{
    text-align: center;
    color: white;
}

a {
margin-left: 12%;
color: white;
}