footer{

    position: fixed;
    background-color: var(--color-2);
    bottom: 0%;
    width: 100%;
    text-align: center;
    
}
img{
    width: 5%;
    margin-left : 10%;
    margin-right: 10%; 

}

