#foto, #parrafos{

    width: 50%;
    float: left;
    text-align: center;

}

#javi{
    width: 20%;
    border-radius: 50%;
}

h2{
    position: relative;
    right: 20%;
}

#cabe{

    background-color: var(--color-3);
}

article{
    top: 40px;
    clear: left;
    position: relative;
    left: 20%;
    width: 60%;
    background-color: var(--color-4);
    margin: 20px;
    
}
p{
    margin: 20px;
}
li{
    margin: 20px;
    list-style: none;
}