html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*** Ejemplo-1 ***/
h1 {
  border: 1px solid black;
  text-align: center;
}  


/*** Ejemplo-2 ***/
.image{
  border: 1px solid black;
  text-align: center;
}

/*** Ejemplo-3 ***/
.main {
  background-color: blue;
  height: 200px;
  margin: 20px auto;
  width: 50%;
}

/*** Ejemplo-4 ***/
.bloques {
  border: 1px solid black;
  text-align: center;
  background-color: red;  
  margin: 40px auto;
  width: 60%;
}

.bloques div {
  background-color: chartreuse;
  display: inline-block;  
  width: 25%;
  padding: 50px;
  margin: 7px;
}

/*** Ejemplo-5 ***/
.vpadding {
  border: 1px solid black;
  padding: 50px;
  text-align: center;
}

/*** Ejemplo-6 ***/
.vdisplay {
  border: 1px solid black;
  display: table;
  height: 300px;
  margin: 30px auto;
  width: 60%;
}

.vdisplay p {
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}
