
/*FOOTER*/
footer{
    width: 60%;
    position: fixed;
    bottom: 0;
    display: block;
    height: 50px;
    background-color: var(--color-4);
    text-align: center;  
}

footer img{
    margin: 1%;
    width: map-get($tamanios-iconos , 'pequenio'); /* Ajustar el ancho máximo de la imagen */

    height: auto; /* Mantener la relación de aspecto */
}