header{
    position: sticky;
    top: 0px;
    z-index: 3;
}
.cabecera {
    height: 150px;
    border-bottom:4px dashed white;
    height: 150px;
    background-color:var(--color-2);
    position: relative;
    top: 0%;
    margin: 0px auto;
}

.cabecera div {
    top: 38px;
    position: absolute;
  background-color: var(--color-4);
  height: 65px;
  width: 20%;
  border-radius: 32px;
  box-shadow: 1px 3px 5px black;

}

.cabecera div.m{
    background-color: var(--color-1);
    width: 22%;
    height: 79px;
}

  .cabecera div.m1 {
left: 12%;
  top: 31px;
}

.cabecera div.m2 {
top: 31px;
  left: 66%;
}

.cabecera div.m3 {
    left: 43%;
    border-radius: 91px;
    width: 15%;
    height: 89%;
    top: 10px;
}

.cabecera div.g2{
    left: 44%;
  border-radius: 90%;
  width: 13%;
  height: 81%;
  top: 16px;
  transition: transform 0.2s;
  z-index: 1;

}

.cabecera div.g3 {
     left: 67%;
     transition: transform 0.2s;
z-index: 1;
}

.cabecera div.g1{ 
  text-align: center;
    left: 13%;
    transition: transform 0.2s;
    z-index: 1;
}
.g1:active{
  transform: scale(0.95);
}
.g2:active{
  transform: scale(0.95);
}
.g3:active{
  transform: scale(0.95);
}
@font-face {
  font-family:glovo;
  src: url(globo.ttf);
}

.g1 p{
font-family:glovo;    
  font-weight: bold;
  font-size: 60px;
  padding: 0px;
  margin: 0px;
  
}
.g2 p{
  font-family:glovo;    
  font-weight: bold;
  font-size: 60px;
  padding: 0px;
  margin-top: 27px;

}
.g3 p{
  font-family:glovo;    
  font-weight: bold;
  font-size: 60px;
  padding: 0px;
  margin: 0px;

}
